.screen {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 35px;
  background-color: rgb(250, 240, 228);
}

.createTaskContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
  background-color: rgb(155, 205, 210);
  border-radius: 15px;
  padding: 35px;
}

.title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .createTaskContainer {
    display: none;
  }
}
