#addTaskContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  height: 90%;
  width: 35%;
  border-radius: 15px;
  padding-left: 35px;
  padding-right: 35px;
}

#createTaskInput {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  background-color: #f2f2f2;
  border-color: transparent;
}

#taskListContainer {
  display: flex;
  flex-direction: column;
}
