#mainContainer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 35px;
  background-color: rgb(209, 250, 250);
}

#addTaskContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 35px;
}

#title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 25px;
}

#inputText {
  font-size: 22px;
  font-weight: 600;
}

#taskInput {
  width: 100%;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border-color: black;
  margin: 5px 0 15px 0;
  padding: 0 10px 0 10px;
}

#buttonContainer {
  display: flex;
  justify-content: flex-start;
}

#taskListContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 35px;
}

#tasksSpan {
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 15px;
}
